GOOGLE_MAPS_API_KEY = "AIzaSyD1H4H6zpXMn5lTZfE9pt4IEQP4l5bcad8"
OPENAI_API_KEY="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"